
body{
    
    background-color:white;
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
body h1{
    text-align: center;
}
.container {
 width: 100vw;
 padding: 1rem;
 flex: 1; 
  /* by this we can allow our page to shrink and expand according to the empty space left */
}

/* navbar */
.navbar{
    height: 5rem;
    color: #00000022;
    background-color: white;
}
.fa-compass{
    color: red;
    font: 2rem;

}
.nav-link {
    color: #222222 !important; /*!important overpower the coustom preference from the bootstrap*/
}

/* footer */

.f-info-links a {
    color: #222222;
    text-decoration: none;
    
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-socials{
    width: 100%;
}
.f-info-links{
    width :100%
}

.f-info{
    height: 8em;
    display: flex;
    justify-content: center;
    background-color: grey;
    flex-wrap: wrap;
    align-items: center;
    align-items: space-evenly;
    text-align: center;
    font-size: 1.0em;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.2;
  background-color:white;
}
.add-button {
   background-color:red !important;
   border: none !important;
   height: 35px;
   width: 75px;
   
}

.showbtn{
    margin: 0px;
    padding: 0px;
    display: flex;
    

}
.showbtn :nth-child(2) button{
    background-color:rgb(17, 12, 12) !important;
   border: none !important;
   height: 35px;
   width: 75px;
   color: white;
   border-radius: 5px;
   margin-left: 20px;
   
}
#map {
    width: 100%; /* or a fixed width like 600px */
    height: 400px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the container */
    
}


